<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{ metadata.description }}"/>
    <title>{{ metadata.title }}</title>

    {# Styles #}
    <link rel="preload" as="style" href="/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="/css/global.css"/>

  </head>
  <body>
    <div class="container">
      {% include "partials/nav.njk" %}
      {{ content | safe }}
    </div>
  </body>
</html>